{% extends 'base.html.twig' %}

{# @var location \App\Entity\Location #}
{# @var weather \App\Entity\Weather #}

{% block title %}Weather in {{ location.city }}, {{ location.country }}{% endblock %}

{% block body %}
    <main>
        <h1>Weather in {{ location.city }}, {{ location.country }}</h1>

        <ul>
            {% for weather_data in weather_data %}
                <li>{{ weather_data.date|date('d.m.Y') }}: {{ weather_data.temperature }}&deg;C</li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
